<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var input1 = "{{data.title}}"; 
            var requestData = {
                imgSize: "LARGE", 
                fileType: "jpeg",  
                imgType: "stock", 
                num: 1, 
                q: input1
            }; 

            $.ajax({
                type: "POST", 
                url: "https://mycovidupdatermicroservice.herokuapp.com/imgScraper", 
                contentType: "application/json", 
                dataType: "json",
                data: JSON.stringify(requestData), 
                success: function(data){
                    var image = document.createElement('img');
                    image.src = data[0]; 
                    image.width = "300"; 
                    image.alt = ""; 
                    document.getElementById("imageHolder").appendChild(image); 
                }
            }); 
        }); 
    </script>
    <script>
        function sendEmails() {
            var emailData = {
                to: "{{data.invites}}",
                subject: "You've been invited: " + "{{data.title}}", 
                text: "Event Date: " + "{{data.date}}" + "\n" + "Event Description: " + "{{data.description}}"
            }; 
            $.ajax({
                type: "POST",
                url: "https://cs361microservice.wm.r.appspot.com/email",
                contentType: "application/json", 
                data: JSON.stringify(emailData)
            }); 
        }
    </script>
</head>
<body>
    View Individual Event Page
    <div style="border:solid">
        Pages:
        <br>
        <a href="https://cs361a5.wl.r.appspot.com/">Create a new event</a>
        <br>
        <a href="https://cs361a5.wl.r.appspot.com/events">View all saved events</a>
    </div>
    <br>
    <br>
    <div id="imageHolder"></div>

    <table style="border:solid">
        <caption>Selected Event</caption>
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Invite List</th>
        </thead>

        <tbody>
            <tr>
                <td>
                    {{data.title}}
                </td>
                <td>
                    {{data.description}}
                </td>
                <td>
                    {{data.date}}
                </td>
                <td>
                    {{data.invites}}
                </td>
                <td>
                    <button id="emailButton" onclick="sendEmails()">Email Invites</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>