<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        //var search = {{data.title}}; 
        var requestData = {}; 
        data.contentType = "application/json; charset=utf-8"; 
        data.imgSize = "LARGE"; 
        data.fileType = "jpeg"; 
        data.imgType = "stock"; 
        data.num = 1; 
        data.q = "dogs"; 

        $(document).ready(function(requestData){
            $.ajax({
                url: "https://mycovidupdatermicroservice.herokuapp.com/imgScraper", 
                type: "POST", 
                data: requestData, 
                success: function(data, status){
                    var image = document.createElement('img');
                    image.src = data[0]; 
                    image.width = "300"; 
                    image.alt = ""; 
                    document.getElementById("imageHolder").appendChild(image); 
                }
            }); 
        }); 
    </script>
</head>
<body>
    View Individual Event Page
    <div style="border:solid">
        Pages:
        <br>
        <a href="https://cs361a5.wl.r.appspot.com/">Create a new event</a>
        <br>
        <a href="https://cs361a5.wl.r.appspot.com/events">View all saved events</a>
    </div>
    <br>
    <br>
    <div id="imageHolder"></div>

    <table style="border:solid">
        <caption>Selected Event</caption>
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Invite List</th>
        </thead>

        <tbody>
            <tr>
                <td>
                    {{data.title}}
                </td>
                <td>
                    {{data.description}}
                </td>
                <td>
                    {{data.date}}
                </td>
                <td>
                    {{data.invites}}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>