<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="border:solid">
        <caption>You have been invited!</caption>
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{event.title}}
                </td>
                <td>
                    {{event.description}}
                </td>
                <td>
                    {{event.date}}
                </td>
            </tr>
        </tbody>
    </table>

    <form id="rsvp" action="https://cs361a5.wl.r.appspot.com/event/{{event.id}}/rsvp/{{email}}" method="post">
        <fieldset>
            <legend>Respond to invite:</legend>
                <input type="radio" id="accept" name="respond" value="accept">
                <label for="accept">Accept</label><br>

                <input type="radio" id="decline" name="respond" value="decline">
                <label for="decline">Decline</label><br>

            <input type="submit" value="Submit" />
        </fieldset>
    </form>

</body>
</html>